Repository remarkablemark/npm-package-name-checker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Deploying to gh-pages from @ remarkablemark/npm-package-name-checker@f5547b405df59751ab0d2af34b5c9f4935677962 🚀
  index.1f033ff0.js
  index.1f033ff0.js.map
  index.3fbac783.js
  index.3fbac783.js.map
  index.597c72b9.js
  index.597c72b9.js.map
  index.fd235c8d.js
  index.fd235c8d.js.map
  index.html
Due: eslint --fix, prettier --write

ci(github): update workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

refactor: replace var with const
  .eslintrc.json
  src/main.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ remarkablemark/npm-package-name-checker@f5da241f45559e7c21b53d73b2361b44ddec29c5 🚀
  index.3fbac783.js
  index.3fbac783.js.map
  index.597c72b9.js
  index.597c72b9.js.map
  index.917c183a.js
  index.917c183a.js.map
  index.a0de435c.js
  index.a0de435c.js.map
  index.html
Due: eslint --fix, prettier --write

refactor: replace reqwest with fetch
  .eslintrc.json
  README.md
  src/index.html
  src/main.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ remarkablemark/npm-package-name-checker@d30d96784601fad7bcd12c67182cf5377b31f132 🚀
  index.8c608d3a.js
  index.8c608d3a.js.map
  index.917c183a.js
  index.917c183a.js.map
  index.9c0cb06c.js
  index.9c0cb06c.js.map
  index.a0de435c.js
  index.a0de435c.js.map
  index.html
Due: eslint --fix, prettier --write

feat: add link preconnect to corsmirror
  src/index.html
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/npm-package-name-checker@0f2a50f2a2e18fb8fc196867a53f2bc19a0661ff 🚀
  index.html
Due: prettier --write

refactor: refactor to TypeScript
  .eslintrc.json
  .github/workflows/build.yml
  package.json
  src/index.html
  src/main.ts
  tsconfig.json
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/npm-package-name-checker@d74bca462802676456571d16eabcf37a22cdbfa4 🚀
  index.8c608d3a.js.map
  index.96482c33.js
  index.96482c33.js.map
  index.9c0cb06c.js.map
  index.a7fe173d.js
  index.a7fe173d.js.map
  index.html
Due: eslint --fix, prettier --write

refactor: enable strictNullChecks and fix lint error no-this-alias
  src/main.ts
  tsconfig.json
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/npm-package-name-checker@17a6dd3fae50d8d698723a9a6389acdd5276c9ee 🚀
  index.96482c33.js
  index.96482c33.js.map
  index.a7fe173d.js
  index.a7fe173d.js.map
  index.d5bd0c48.js
  index.d5bd0c48.js.map
  index.f23f9b10.js
  index.f23f9b10.js.map
  index.html
Due: eslint --fix, prettier --write

refactor: enable noImplicitAny and fix TypeScript errors
  src/main.ts
  tsconfig.json
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/npm-package-name-checker@afd096717fd5b3992903481708ede6d08c29418f 🚀
  index.87d3ee26.js
  index.87d3ee26.js.map
  index.b977ce78.js
  index.b977ce78.js.map
  index.d5bd0c48.js
  index.d5bd0c48.js.map
  index.f23f9b10.js
  index.f23f9b10.js.map
  index.html
Due: eslint --fix, prettier --write

ci(github): add workflow release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

refactor: refactor urls
  src/main.ts
Due: none

Deploying to gh-pages from @ remarkablemark/npm-package-name-checker@b5f56d4d44a5f909826ae162fa3e72f1ae5a06ce 🚀
  index.7b21dcc1.js
  index.7b21dcc1.js.map
  index.87d3ee26.js
  index.87d3ee26.js.map
  index.b977ce78.js
  index.b977ce78.js.map
  index.ed3f5e8b.js
  index.ed3f5e8b.js.map
  index.html
Due: eslint --fix, prettier --write

feat: replace Heroku with Render
  src/index.html
  src/main.ts
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/npm-package-name-checker@d759b3ff28b569c973b45d95cb09fa1dcdd3acd6 🚀
  index.6c3b98fd.js
  index.6c3b98fd.js.map
  index.7b21dcc1.js
  index.7b21dcc1.js.map
  index.ec67c7cc.js
  index.ec67c7cc.js.map
  index.ed3f5e8b.js
  index.ed3f5e8b.js.map
  index.html
Due: eslint --fix, prettier --write

chore: fix tsdoc lint errors
  .eslintrc.json
  package.json
  src/main.ts
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/npm-package-name-checker@ef97a75ec7359f413961bd7b14402941eadef79f 🚀
  index.5bd44873.js
  index.5bd44873.js.map
  index.6c3b98fd.js
  index.6c3b98fd.js.map
  index.ec67c7cc.js
  index.ec67c7cc.js.map
  index.f44ddadd.js
  index.f44ddadd.js.map
  index.html
Due: eslint --fix, prettier --write

build(package): add eslint-plugin-simple-import-sort to .eslintrc
  .eslintrc.json
  package.json
Due: prettier --write

refactor: modularize utils from main
  src/main.ts
  src/utils.ts
Due: none

chore: add .ts extension to .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/npm-package-name-checker@3494dddf03439adcfa558b91d8b41d1fa49530cb 🚀
  index.5bd44873.js
  index.5bd44873.js.map
  index.e4a17a68.js
  index.e4a17a68.js.map
  index.e5efb776.js
  index.e5efb776.js.map
  index.f44ddadd.js
  index.f44ddadd.js.map
  index.html
Due: eslint --fix, prettier --write

refactor: modularize constants from main
  src/constants.ts
  src/main.ts
Due: none

Deploying to gh-pages from @ remarkablemark/npm-package-name-checker@6c0b7b7d01b4433bd55d7f18491b4801da49130c 🚀
  index.e4a17a68.js.map
  index.e5efb776.js.map
Due: none

perf(constants): replace render with replit
  src/constants.ts
Due: none

Deploying to gh-pages from @ remarkablemark/npm-package-name-checker@6a154f4bc79a415f3286abc6e6501304dcffc8b1 🚀
  index.73181c88.js
  index.73181c88.js.map
  index.e4a17a68.js
  index.e4a17a68.js.map
  index.e5674538.js
  index.e5674538.js.map
  index.e5efb776.js
  index.e5efb776.js.map
  index.html
Due: eslint --fix, prettier --write

docs(readme): add link to Replit
  README.md
Due: prettier --write

build(package): save package-lock.json
  .gitignore
  package-lock.json
Due: prettier --write

feat: replace replit with corsmirror
  src/constants.ts
  src/main.ts
Due: none

docs(readme): update links
  README.md
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/npm-package-name-checker@52f3d96023768d055df1b1a23941ea661c197edb 🚀
  index.2d02d448.js
  index.2d02d448.js.map
  index.73181c88.js
  index.73181c88.js.map
  index.e5674538.js
  index.e5674538.js.map
  index.e5a7e478.js
  index.e5a7e478.js.map
  index.html
Due: eslint --fix, prettier --write

chore: remove preconnect in index.html
  src/index.html
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/npm-package-name-checker@b5d31741b076576d7533e73c470da84279d683ca 🚀
  index.html
Due: prettier --write

fix(constants): fix corsmirror domain
  src/constants.ts
Due: none

Deploying to gh-pages from @ remarkablemark/npm-package-name-checker@57704d4bdb9addf78aca81af75ef7a45dac59651 🚀
  index.2d02d448.js
  index.2d02d448.js.map
  index.3085375d.js
  index.3085375d.js.map
  index.6d2cea1a.js
  index.6d2cea1a.js.map
  index.e5a7e478.js
  index.e5a7e478.js.map
  index.html
Due: eslint --fix, prettier --write

Revert "fix(constants): fix corsmirror domain"
  src/constants.ts
Due: none

Deploying to gh-pages from @ remarkablemark/npm-package-name-checker@c95ca7d3e32e86748abc368c37b703645de7cb30 🚀
  index.2d02d448.js
  index.2d02d448.js.map
  index.3085375d.js
  index.3085375d.js.map
  index.6d2cea1a.js
  index.6d2cea1a.js.map
  index.e5a7e478.js
  index.e5a7e478.js.map
  index.html
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{css,html,json,md,yml}
