Repository remarkablemark/npm-package-name-checker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix",
  "*.{css,html,json,md,yml}": "prettier --write"
}

ci(github): create dependabot.yml
  .github/dependabot.yml
Due: prettier --write

ci(github): create mergify.yml
  .github/mergify.yml
Due: prettier --write

chore(github): create CODEOWNERS
  .github/CODEOWNERS
Due: none

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

chore: tidy index.html
  src/index.html
Due: prettier --write

style(src): fix prettier lint
  src/main.ts
  src/utils.ts
Due: eslint --fix

Deploying to gh-pages from @ remarkablemark/npm-package-name-checker@8f0f3daffdaa15293f30b72071bbc65659b260af 🚀
  index.22a5d1e7.js.map
  index.707550b5.js.map
Due: none

chore: create LICENSE
  LICENSE
Due: none

docs(readme): update README.md
  README.md
Due: prettier --write

fix: migrate to Google Analytics 4 (GA4)
  src/index.html
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/npm-package-name-checker@e39aa8acbd21617d7f49c3c31815087b79e625ec 🚀
  index.html
Due: prettier --write

fix(index): fix Google tag
  src/index.html
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/npm-package-name-checker@56c373aacfb1eded4b4991cee8c64cdd93703b88 🚀
  index.html
Due: prettier --write

ci(github): update dependabot.yml
  .github/dependabot.yml
Due: prettier --write

docs(readme): add status badge
  README.md
Due: prettier --write

docs(readme): add release badge
  README.md
Due: prettier --write

ci(github): update action in release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

ci(github): use gitploy-action in build.yml
  .github/workflows/deploy.yml
Due: prettier --write

build(nvmrc): set Node.js version to 22
  .nvmrc
Due: none

ci(github): update workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

ci(github): run workflow build.yml on push
  .github/workflows/build.yml
Due: prettier --write

ci(github): update workflow deploy.yml
  .github/workflows/deploy.yml
Due: prettier --write

chore(husky): migrate to husky 9 and remove deprecated install
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

build(package): fix 1 high severity vulnerability
  package-lock.json
Due: prettier --write
